/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Colors */
@keyframes grow {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
h1 {
  color: #901C1C;
  margin-right: 100px;
  font-size: 2.625rem;
}

h2 {
  color: #D3573C;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.media-article_details {
  display: flex;
  justify-content: space-between;
  color: #901C1C;
  font-size: 20px;
  width: 300px;
  margin: 1em 0;
  font-weight: 400;
}

.media-article_details_title {
  color: #901C1C;
  font-weight: 500;
}

.media-article_details_like-module {
  display: flex;
  flex-wrap: nowrap;
}

.media-article_details_like-module_input {
  display: none;
}

.media-article_details_like-module_input:checked ~ .media-article_details_like-module_label i {
  color: #D3573C;
  animation-name: bounce;
  animation-duration: 0.35s;
  animation-timing-function: ease-in-out;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.media-article_details_like-module_label {
  color: #901C1C;
  margin-left: 1ch;
  cursor: pointer;
}

#widget {
  position: sticky;
  bottom: 0;
  left: 85%;
  background-color: #D3573C;
  width: 225px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px 5px 0 0;
  font-weight: 500;
  transform: translateY(50px);
  animation-name: slideIn;
  animation-delay: 1s;
  animation-duration: 0.75s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes slideIn {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}
#widget__like-count::after {
  content: "\f004";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  margin-left: 1ch;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

.photographer-article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation-name: grow;
  animation-duration: 0.75s;
  animation-timing-function: ease-in-out;
  transition: transform 0.25s ease-in-out;
}

.photographer-article__name {
  font-size: 36px;
}

.photographer-article__picture {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.photographer-article__location {
  color: #901C1C;
  font-weight: 500;
}

.photographer-article__tagline {
  font-size: 0.75em;
  font-weight: 500;
}

.photographer-article__price {
  font-size: 0.75em;
  font-weight: 500;
  color: #525252;
}

.photograph-header {
  background-color: #FAFAFA;
  height: 300px;
  margin: 0 100px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}

#photographer-section {
  background-color: #FAFAFA;
  margin: 0 5% 2em 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.photographer-section__picture {
  border-radius: 50%;
  object-fit: cover;
  height: 200px;
  width: 200px;
}

.photographer-section__profile-name {
  font-size: 3em;
}

.photographer-section__profile-details {
  display: flex;
  flex-direction: column;
}

.photographer-section__profile-details-location {
  color: #901C1C;
  margin-bottom: 1em;
  font-size: 24px;
}

.photographer-section__profile-details-tagline {
  color: #525252;
}

#galery-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
#galery-section .media-article:nth-child(1n) {
  animation-delay: 0.15s;
}
#galery-section .media-article:nth-child(2n) {
  animation-delay: 0.3s;
}
#galery-section .media-article:nth-child(3n) {
  animation-delay: 0.45s;
}
#galery-section .media-article:nth-child(4n) {
  animation-delay: 0.6s;
}
#galery-section .media-article:nth-child(5n) {
  animation-delay: 0.75s;
}
#galery-section .media-article:nth-child(6n) {
  animation-delay: 0.9s;
}
#galery-section .media-article:nth-child(7n) {
  animation-delay: 1.05s;
}
#galery-section .media-article:nth-child(8n) {
  animation-delay: 1.2s;
}
#galery-section .media-article:nth-child(9n) {
  animation-delay: 1.35s;
}
#galery-section .media-article:nth-child(10n) {
  animation-delay: 1.5s;
}
#galery-section .media-article:nth-child(11n) {
  animation-delay: 1.65s;
}
#galery-section .media-article:nth-child(12n) {
  animation-delay: 1.8s;
}
#galery-section .media-article:nth-child(13n) {
  animation-delay: 1.95s;
}
#galery-section .media-article:nth-child(14n) {
  animation-delay: 2.1s;
}
#galery-section .media-article:nth-child(15n) {
  animation-delay: 2.25s;
}

.media-article {
  transform: scale(0);
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  animation-name: grow;
  animation-delay: 0.5s;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  transition: transform 0.15s ease-in-out;
}

.media-article_media {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 5px;
  object-position: center top;
}

.buffer {
  display: none;
}

.media-article_details {
  text-overflow: ellipsis;
}

.media-article_details_title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 18px;
}

@keyframes grow {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
#lightbox_modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: white;
  padding: 0 15px 15px 15px;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  overflow: hidden;
}

.lightbox_modal_arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
  font-size: 80px;
  font-weight: 700;
  color: #901C1C;
  cursor: pointer;
}

#left-arrow {
  left: 0;
}

#right-arrow {
  right: 0;
}

#lightbox_modal_main {
  display: flex;
  flex-direction: column;
  margin: 0 1%;
  overflow: hidden;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.previous {
  animation-name: slideRight;
  transform: translateX(2000px);
}

.next {
  animation-name: slideLeft;
  transform: translateX(-2000px);
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  85% {
    opacity: 1;
    transform: translateX(-70px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }
  85% {
    opacity: 1;
    transform: translateX(70px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
#lightbox_modal_close_button {
  position: absolute;
  top: 50px;
  right: 50px;
  padding: 0;
  cursor: pointer;
}

#lightbox_modal_media {
  object-fit: contain;
  margin-bottom: 1em;
  border-radius: 5px;
  max-height: 60vh;
  max-width: 80vw;
}

#lightbox_modal_title {
  font-size: 30px;
  color: #901C1C;
}

#contact_modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.modal-body {
  border-radius: 5px;
  background-color: #DB8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  position: relative;
}

.modal header {
  justify-content: space-between;
  width: 100%;
  position: relative;
}

#contact_modal_title {
  color: black;
  font-size: 64px;
  font-weight: normal;
  margin-bottom: 1em;
}

#contact-modal_close-button {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312E2E;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

#contact-message {
  height: 200px;
}

/*# sourceMappingURL=style.css.map */
